<h3>Member Detail Component</h3>
<span>Você está editando</span>: {{ selected_member.name }} - {{ selected_member.surname }}

<span class="image left">
    <img src="{{ selected_member.photo }}" alt="Foto de {{ selected_member.name }}" style="height: 50px; width: 50px;">
</span>

<input type="text" [(ngModel)]="selected_member.id" readonly>
<input type="text" [(ngModel)]="selected_member.name">
<input type="text" [(ngModel)]="selected_member.surname" >
<input type="text" [(ngModel)]="selected_member.phone"><br>
<button (click)="update()" class="button" style="margin-right: 50px;">Update Member</button>
<button (click)="delete()" class="button" style="margin-right: 50px;">Delete Member</button>

<button (click)="newMember()" class="button primary">Novo</button>